<footer id="footer">
  <div class="container">
      <div class="row">
          <div class="col-6">
              <ul class="social-networks">
                  <li>
                      <a href="#" class="social-link">
                          <img class="social-icon" src=".././assets/img/social-icons/facebook-logo-button.png">
                      </a>
                  </li>
                  <li>
                      <a href="#" class="social-link">
                        <img class="social-icon" src=".././assets/img/social-icons/youtube-logotype.png">
                    </a>
                  </li>
                  <li>
                      <a href="#" class="social-link">
                        <img class="social-icon" src=".././assets/img/social-icons/instagram-logo.png">
                    </a>
                  </li>
              </ul>
          </div>
          <div class="col-6 text-right align-self-center">
              <a href="#" class="about-link">About Us</a>
          </div>
      </div>
      <p class="text-center copyright m-0">&copy; Riitech Academy</p>
  </div>
</footer>
