html,
body {
   margin:0;
   padding:0;
   height:100%;
   background-color: $body-color;
}
#main-container {
   min-height:100%;
   position:relative;
}

#body {
   padding:20px;
   padding-bottom:70px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:70px;   /* Height of the footer */
   background:#6cf;
}

#nav-main > .container {
    @media (min-width: 1200px) {
        max-width: 1350px;
    }
}

#header {
    height: 48px;

    @media (min-width: 992px) {
        height: 58px;
    }
}