<div class="course course-type-html">
  <div class="course-card">
      <header class="course-header container-fluid">
          <div class="time-container">
              <img class="time mr-1" src="../assets/img/clock.svg" alt="">
              <span class="align-middle">4 weeks</span>
          </div>
          <a class="course-link-lg" href="#"> 
            <h2 class="text-center m-0 py-1 d-none d-sm-none d-md-block">HTML5</h2>
          </a>
            <img class="book" src="../assets/img/book.svg" alt="">
      </header>

      <a href="#" class="course-link-sm"> 
          <h2 class="text-center m-0 py-1 d-md-none">HTML5</h2>
      </a>
          <div class="row course-card-body">
          <div class="col-lg-6 course-logo">
              <img src="../assets/img/html5.svg" class="py-3" />
          </div>
          <div class="col-lg-6 course-description courseDescMain">
              <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  has been the industry's standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type specimen book. It has
                  survived not only five centuries, but also the leap into electronic typesetting,
                  remaining essentially unchanged. It was popularised in the 1960s with the release
                  of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                  publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
      </div>
      <footer class="course-footer">
          <a routerLink="/course-details" class="btn btn-details">Details</a>
          <div class="tags">
              <span class="tag">#Beginner</span>
              <span class="tag">#Front-end</span>
          </div>
      </footer>
  </div>
</div>