<div class="course course-type-html" *ngFor="let course of courses">
    <div class="course-card">
        <header class="course-header container-fluid">
            <div class="time-container">
                <img class="time mr-1" src="../assets/img/clock.svg" alt="">
                <span class="align-middle">4 weeks</span>
            </div>
            <a class="course-link-lg" href="#"> 
              <h2 class="text-center m-0 py-1 d-none d-sm-none d-md-block">{{ course.name }}</h2>
            </a>
              <img class="book" src="../assets/img/book.svg" alt="">
        </header>
  
        <a href="#" class="course-link-sm"> 
            <h2 class="text-center m-0 py-1 d-md-none">{{ course.name }}</h2>
        </a>
            <div class="row course-card-body">
            <div class="col-lg-6 course-logo">
                <img [src]="course.image" class="py-3" />
            </div>
            <div class="col-lg-6 course-description courseDescMain">
                <p class="text-justify">{{ course.description }}</p>
            </div>
        </div>
        <footer class="course-footer">
            <a [routerLink]="['/course-details']" [queryParams]="{ id : course._id }" class="btn btn-details">Details</a>
            <div class="tags">
                <span class="tag">#Beginner</span>
                <span class="tag">#Front-end</span>
            </div>
        </footer>
    </div>
  </div>

